* {
    /* border: 1px solid red; */
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background-color: #f0f0f0;
}


.success {
    color: #006100;
}
.error {
    color: #AD0000;
}

.bg-dark {
    background-color: #003;
  }


.navbar a {
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
}

.navbar a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.navbar-brand {
    pointer-events: none;
}


.logout-button{
    color: white !important;
}


.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


.left-side.left-side-login{
    flex: 2;
    background-image: url(/RecipeWebApp/images/login-food.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100vh;
    display: flex; 
}

.left-side.left-side-registration{
    flex: 2;
    background-image: url(/RecipeWebApp/images/registration-food.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100vh;
    display: flex; 
}

.right-side{
    flex: 1;
    padding: 20px;
}

.right-side-text{
    text-align: center;
    margin-bottom: 40px;
}

.login-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
    margin: 0 auto; 
}

.signup-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
    margin: 0 auto; 
}

.form h2 {
    margin-bottom: 0 0 10px 0;
}

.form-group {
    padding-right: 22px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type = "email"],
input[type = "password"],
input[type = "text"] {
    width: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#new_pwd{
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.update_profile{
    margin-top: 20px;
    margin-bottom:20px;
    padding: 15px;
    border: 2px solid rgb(85, 85, 85, .5);
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / .2);
}